.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc {
  font-size: 14px; /* 모바일에서 글자 너무 크지 않게 */
}

.calendar-container {
  width: 100%;
  overflow-x: auto; /* 모바일에서 넘치면 스크롤 가능하게 */
}

.fc-toolbar.fc-header-toolbar {
  flex-direction: column !important; /* 버튼을 아래로 배치 */
  align-items: flex-start;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .fc-toolbar.fc-header-toolbar {
    flex-direction: row !important; /* 큰 화면에선 원래대로 */
    align-items: center;
    justify-content: space-between;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
